<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <form class="card p-3 mt-3" method="POST" enctype="multipart/form-data" action="api/student">
      <form class="card p-3 mt-3" method="POST" action="api/student">
        <h3 class="mb-2">Enter your details</h3>
        <div class="form-group">
          <label for="fname">Enter your first name</label>
          <input type="text" class="form-control" id="fname" name="fname" required />
        </div>
        <div class="form-group">
          <label for="lname">Enter your last name</label>
          <input type="text" class="form-control" id="lname" name="lname" required />
        </div>
        <div class="form-group">
          <label for="department">Department</label>
          <select class="form-control" id="password" name="department" required>
            <option value="Computer Science">Computer Science</option>
            <option value="Information Science">Information Science</option>
            <option value="Mechanical">Mechanical</option>
            <option value="Electrical and Electronics">Electrical and Electronics</option>
            <option value="Electronics and Communication">Electronics and Communication</option>
            <option value="Bio technology">Bio technology</option>
            <option value="Civil">Civil</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sem">Sem</label>
          <input type="number" name="sem" id="sem" min="1" max="8" required />
        </div>
        <div class="form-group">
          <label for="usn">USN</label>
          <input type="text" id="usn" name="usn" aria-describedby="usnreadme" required />
          <small id="usnreadme">USN must be of the form 4nm17cs0xx</small>
        </div>
        <div class="form-group">
          <label for="std-image">Add your image</label>
          <input type="file" class="form-control-file" id="std-image" name="stdimg" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <a href="/students">View the students</a>
  </div>
  <%- include('partials/scripts') %>
</body>

</html>